@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');
/*===================
        GLOBAL      
====================*/
body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: 'Outfit', sans-serif;
  margin: 0;
}

.main {
  background-color: hsl(216, 50%, 16%);
  margin: 1rem;
  max-width: min(100%, 28ch);
  padding: 1rem;
}

/*===================
    TOP-CONTAINER    
===================*/
.top-container__img {
  max-width: 100%;
}

/* .top-container__overlay {
  background-color: wheat;

  opacity: 0.4;
} */

/*======================
    MIDDLE-CONTAINER    
======================*/
.middle-container__title {
  font-size: min(7vw, 1.5rem);
}
