@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');

/*===================
        GLOBAL      
====================*/
body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: min(4.4vw, 1rem);
  padding-top: 4rem;
}

.main {
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  margin: auto;
  max-width: min(100%, 25ch);
  padding: min(4.6vw, 1.2rem);
}

/*===================
    TOP-CONTAINER    
===================*/
.top-container {
  position: relative;
  font-size: 0;
}

.top-container__img {
  border-radius: 8px;
  max-width: 100%;
  height: 100%;
}

.top-container__overlay--hidden {
  position: absolute;
  inset: 0;

  background-color: hsl(178, 100%, 50%);
  opacity: 0;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.top-container__img-eye--hidden {
  position: absolute;
  inset: 0;
  margin: auto;

  max-width: min(100%, 13vw);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/*======================
    MIDDLE-CONTAINER    
======================*/
.middle-container {
  font-size: min(4.85vw, 1rem);
  font-weight: 200;
  color: hsl(215, 51%, 70%);

  line-height: 1.5;
}

.middle-container__title {
  font-size: min(7vw, 1.5rem);
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  transition: color 0.3s ease-in-out;
}

.middle-container__description {
  margin: -7px 0 13px 0;
}

.middle-container__specs {
  display: flex;
  font-size: min(4.5vw, 1rem);
  font-weight: 300;
  padding-bottom: 0.7em;
}

.middle-container__img {
  position: relative;
  top: 3px;

  max-width: min(6vw, 100%);
  margin-right: 3px;
}

.middle-container__left {
  width: 60%;
  font-weight: 400;
  color: hsl(178, 100%, 50%);
}

.middle-container__right {
  width: 40%;
}

.middle-container__divider {
  border: none;
  border-bottom: 1.9px solid hsl(215, 32%, 27%);
}

/*======================
    BOTTOM-CONTAINER    
======================*/
.bottom-container {
  padding: 0.8em 0 0.4em 0;
  display: flex;
  font-size: min(4.5vw, 0.9rem);
  font-weight: 200;
  color: hsl(215, 51%, 70%);

  line-height: 1.5;
}

.bottom-container__img {
  width: 1.8em;
  border-radius: 100%;
  border: 1px solid hsl(0, 0%, 100%);

  margin: auto auto auto 0;
}

.bottom-container__p {
  margin: auto auto auto -3em;
}

.bottom-container__author {
  color: hsl(0, 0%, 100%);
  transition: color 0.3s ease-in-out;
}

/*==================
    HOVER-STATES        
===================*/
.top-container:hover .top-container__overlay--hidden {
  opacity: 1;
  background: hsl(178, 100%, 50%, 0.3);
  cursor: pointer;
  /* transition: all 0.4s ease-in-out; */
}

.top-container:hover .top-container__img-eye--hidden {
  opacity: 1;
  /* transition: all 0.4s ease-in-out; */
}

.middle-container__title:hover,
.bottom-container__author:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
  /* transition: color 0.3s ease-in-out; */
}

/*=================
    ATTRIBUTION     
==================*/
.attribution {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
