@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');

/*========================
          GLOBAL 
=========================*/
body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
}

/*========================
        TYPOGRAPHY 
=========================*/
.middle-container__title {
  font-size: 1.35rem;
  font-weight: 500;
}

.middle-container__description,
.middle-container__right,
.bottom-container {
  font-size: 1rem;
  font-weight: 200;
  color: hsl(215, 51%, 70%);

  line-height: 1.5;
}

.bottom-container__author {
  color: hsl(0, 0%, 100%);
}

.middle-container__title:hover,
.bottom-container__author:hover,
.top-container__img:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

/*=======================
          LAYOUT 
========================*/
.main {
  background-color: hsl(216, 50%, 16%);
  width: 28ch;
  max-width: 100vw;
  /* min-height: 400px; */
  padding: 1em;
  border-radius: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.middle-container__description {
  margin: -7px 0 13px 0;
}

.middle-container__specs {
  display: flex;
}

.middle-container__left {
  width: 60%;
  color: hsl(178, 100%, 50%);
}

.middle-container__left,
.middle-container__right {
  padding-bottom: 0.7em;
}

.middle-container__divider {
  border: none;
  border-bottom: 1.5px solid hsl(215, 32%, 27%);
}

.bottom-container {
  padding: 0.8em 0 0.4em 0;
  display: flex;
}

.bottom-container__p {
  margin: auto auto auto -2.3em;
}

/*====================
        IMAGES 
====================*/
.top-container {
  position: relative;
}

.top-container__img {
  max-width: 100%;
  border-radius: 8px;
}

.top-container__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 28ch;
  height: 28ch;
  border-radius: 8px;
  opacity: 0;
}

.top-container:hover .top-container__overlay {
  display: block;
  opacity: 1;
  background: hsl(178, 100%, 50%, 0.4);
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.top-container__eye-img,
.top-container--hidden {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.top-container--hidden {
  display: none;
}

.top-container:hover > .top-container--hidden,
.top-container__eye-img:hover {
  display: block;
}

.middle-container__img {
  position: relative;
  top: 3px;

  margin-right: 3px;
}

.bottom-container__img {
  width: 1.8em;
  border-radius: 100%;
  border: 1px solid hsl(0, 0%, 100%);

  margin: auto auto auto 0;
}

/*======================
      ATTRIBUTION
======================*/
.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*=========================================
            MEDIA QUERIES 
==========================================*/
@media screen and (min-width: 992px) {
  .main,
  .top-container__img {
    width: 24ch;
  }

  .top-container__overlay {
    width: 24ch;
    height: 24ch;
  }

  .middle-container__title {
    font-size: 1.2rem;
    margin-top: 8px;
  }

  .middle-container__description,
  .middle-container__specs,
  .bottom-container__p {
    font-size: 0.95rem;
  }

  .bottom-container__img {
    width: 1.5em;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 13px;
  }

  .main {
    width: fit-content;
    margin: 0 auto;
  }

  .bottom-container__img {
    display: none;
  }

  .bottom-container {
    margin-left: 20%;
  }
}

@media screen and (max-height: 540px) {
  .attribution {
    display: none;
  }
}
